BODY{
    background-image: url("https://previews.123rf.com/images/hakkiarslan/hakkiarslan1510/hakkiarslan151000066/47326471-estilo-grunge-abstracto-fondos-coloridos-splash-acuarela-imagen-de-fondo-ilustraci%C3%B3n-.jpg");
    text-align: center;
    background-color: #cccccc;
    }
    header {
    color: rebeccapurple;
    background-color: palevioletred;
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    font-family: 'Srisakdi', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    }
    #caja1{
       padding:30px;
       font-family: cursive;
       font-size: 18px;
       font-weight: bold;
       text-align: center;
    
    }
    ul{
       list-style: none;
    }